@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ffffff;
    color: #0E1116;
    padding: 50px 0 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p, .card p {
    font-weight: 400;
}

h1, h2, .card h2, .tool h2 {
    font-weight: 900;
}

/* Header */
header {
    background-color: #0E1116;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.header-content a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.header-content img {
    height: 100%;
    width: auto;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
}

.hero-content {
    max-width: 60%;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 2rem;
    text-align: center;
    font-weight: 900;
}

.hero-image {
    max-width: 600px;
}

/* Content Section */
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0rem 2rem 8rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.card-content {
    flex-grow: 1;
}

.card-image-container {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 134, 255, 0.3);
    margin-bottom: 1rem;
    border-radius: calc(24px - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card:nth-child(4n+1) .card-image-container {
    background-color: rgba(58, 134, 255, 0.3);
}

.card:nth-child(4n+2) .card-image-container {
    background-color: rgba(255, 0, 110, 0.3);
}

.card:nth-child(4n+3) .card-image-container {
    background-color: rgba(122, 231, 199, 0.3);
}

.card:nth-child(4n+4) .card-image-container {
    background-color: rgba(255, 190, 11, 0.3);
}

.card-image-container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
}

.card p {
    font-size: 1rem;
    color: #0E1116;
    margin-bottom: 2.5rem
}

.card:hover, .mail-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 99px;
    color: white;
    background-color: #3A86FF;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-top: auto;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-pink {
    background-color: #FF006E;
}

.button-green {
    background-color: #7AE7C7;
}

.button-yellow {
    background-color: #FFBE0B;
}

.button:hover {
    filter: brightness(90%);
}

.button-small {
    width: fit-content;
}

.icon-button {
    width: 36px;
    height: 36px;
    background-color: rgba(58, 134, 255, 0.3);
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.icon-button img {
    width: 66%;
    height: 66%;
    object-fit: cover;
}

.icon-button-green {
    background-color: rgba(122, 231, 199, 0.3);
}

.icon-button-pink {
    background-color: rgba(255, 0, 110, 0.3);
}

.icon-button-yellow {
    background-color: rgba(255, 190, 11, 0.3);
}

.icon-button:hover {
    filter: brightness(90%);
}

.icon-button.selected {
    background-color: #3A86FF;
}

.icon-button-pink.selected {
    background-color: #FF006E;
}

.icon-button-green.selected {
    background-color: #7AE7C7;
}

.icon-button-yellow.selected {
    background-color: #FFBE0B;
}

.icon-button.selected img {
    filter: brightness(0) invert(1);
}

.icon-button-disabled {
    background-color: unset;
    opacity: 0.5;
    cursor: unset;
}

.button-snack {
    width: auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: initial;
}

.button-snack:hover {
}

.card:nth-child(4n+1) .button {
    background-color: #3A86FF;
}

.card:nth-child(4n+2) .button {
    background-color: #FF006E;
}

.card:nth-child(4n+3) .button {
    background-color: #7AE7C7;
}

.card:nth-child(4n+4) .button {
    background-color: #FFBE0B;
}

/* Carte inactive */

.card.inactive {
    opacity: 0.5;
}

.card.inactive .card-image-container {
    background-color: #cccccc;
    opacity: 0.7;
}

.card.inactive .card-image-container img {
    opacity: 0.7;
    filter: grayscale(100%);
}

.card.inactive:hover {
    transform: none;
    background-color: #ffffff;
    color: inherit;
    opacity: 0.5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card.inactive p,
.card.inactive h2 {
    color: #999;
}

.card.inactive .button {
    background-color: #999;
    color: #fff;
}

.card.inactive .button:hover {
    background-color: #999;
    filter: none;
    cursor: initial;
}

/* Tool Section */
.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem 6rem;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
}

.tool-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tool-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-section {
    padding: 4rem 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool-text {
    padding: 0 0 2rem;
    font-size: 3rem;
    font-weight: bold;
}
    
.tool-text-awards1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 0 0 0.25rem;
    text-align: center;
}

.tool-text-awards2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 2rem;
    text-align: center;
}

.tool h2 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

.tool p {
    font-size: 1rem;
    color: #0E1116;
    text-align: center;
}

.tool-image {
    max-width: 600px;
    margin-bottom: 1rem;
    background-color: rgba(58, 134, 255, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-image-pink {
    background-color: rgba(255, 0, 110, 0.3);
}

.tool-image-green {
    background-color: rgba(122, 231, 199, 0.3);
}

.tool-image-yellow {
    background-color: rgba(255, 190, 11, 0.3);
}

.tool-image img {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.tool-selectionBar {
    display: flex;
    padding: 0 0 2rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.tool-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

/* Dropdown */
select {
    border-radius: 8px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    background-color: #ffffff;
}

select:focus {
    border: 1px solid #FF006E;
    outline: none;
}

/* Input */
input {
    border-radius: 8px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    background-color: #ffffff;
}

input:focus {
    border: 1px solid #FF006E;
    outline: none;
}

/* Segmented Control */
.segmented-control {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 2rem;
    border-radius: 99px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #3a86ff;
}

.segmented-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border-radius: inherit;
}

.segmented-button.active {
    background-color: #3a86ff;
    color: #fff;
}

/* Astro Pro */
.astrology-section {
    padding: 4rem 0 0;
    text-align: center;
}

.astro-content, .compatibility-content {
    display: none;
}

.astro-content.active, .compatibility-content.active {
    display: block;
}

.astro-intro, .compatibility-intro {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.astro-signs-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.astro-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    cursor: pointer;
}

.astro-icon {
    width: 60px;
    height: 60px;
    background-color: rgba(58, 134, 255, 0.3);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Pour bien ajuster l'image à la box */
}

.astro-icon img {
    width: 66%;
    height: 66%;
    object-fit: cover; /* L'image s'ajustera pour bien remplir l'espace */
}

.astro-icon:hover {
    filter: brightness(90%);
}

.astro-label {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
}

.astro-sign.selected .astro-label {
    font-weight: 900;
}

.astro-sign.selected .astro-icon {
    background-color: #3a86ff;
}

.astro-sign.selected .astro-icon img {
    filter: brightness(0) invert(1);
}

.astro-description, .compatibility-description {
    margin: 1.5rem 0 1rem;
    font-size: 1rem;
}

.compatibility-grid {
    display: flex;
    justify-content: space-around;
}

.column {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-2 {
    width: 30%;
    margin: 0 1rem;
}

.compatibility-score {
    text-align: center;
    font-weight: 900;
}

.score {
    font-size: 5rem;
}

.intensity {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3a86ff;
}

/* Bullshit Trad */
.translate-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 4rem 0 0;
    width: 100%;
}

.translate-intro {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: left;
}

.input-block, .output-block {
    flex: 1;
}

textarea {
    width: 100%;
    height: 10rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.75rem;
    resize: none;
    font-size: 1rem;
}

textarea:focus {
    border-color: #7AE7C7;
    outline: none;
}


.input-footer, .output-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.outputContainer {
    position: relative;
}

.output-text {
    height: 10rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.75rem;
    overflow-y: auto;
    background-color: #f5f5f5;
    font-size: 1rem;
}

.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    border: 4px solid #ffffff00;
    border-top: 4px solid #7AE7C7;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Compliment */
.compliment-dropdown {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* Mail Absence */
.mail-section {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding: 4rem 0 0;
    width: 100%;
}

.mail-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.mail-infoLocation, .mail-infoDates, .mail-infoBackUp, .mail-infoSignature {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
}

.mail-infoLocation, .mail-infoDates {
    flex-direction: row;
}

.mail-infoBackUp, .mail-infoSignature {
    flex-direction: column;
}

.mail-infoTitle {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

select.mail-inputs {
    font-size: 1rem;
}

select.mail-inputs-large {
    width: -webkit-fill-available;
}

select.mail-inputs:focus {
    border: 1px solid #FFBE0B;
}

input.mail-inputs {
    font-size: 1rem;
    width: -webkit-fill-available;
    height: 40px;
}

input.mail-inputs:focus {
    border: 1px solid #FFBE0B;
}

.mail-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mail-window-icons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin-botton: 0.5rem;
}

.subline-separator {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    margin: 0.5rem auto;
}

.mail-content {
    min-height: 10rem;
}




/* Footer */
footer {
    background-color: #0E1116;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    justify-content: center;
}



/* Responsive Design */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        padding: 0rem 2rem 2rem 2rem;
    }
    .hero {
        padding: 2rem;
    }    
    .hero-content {
        max-width: 100%;
    }
    .hero-image {
        max-width: 100%;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 0.75rem;
    }
    .tool-section {
        padding: 2rem 0 0;
    }
    .tool-text {
        font-size: 2rem;
        padding: 0 0 2rem;
    }
    .tool-text-awards1 {
        font-size: 2rem;
        padding: 0 0 0.25rem;
    }
    .tool-text-awards2 {
        font-size: 1rem;
    }
    .tool {
        padding: 2rem 2rem 4rem;
    }
    .tool p {
        font-size: 0.75rem;
        text-align: justify;
    }
    .tool-selectionBar {
        font-size: 1rem;
    }
    select {
        font-size: 1rem;
    }
    .compliment-dropdown {
        flex-direction: column;
    }
    .astrology-section {
        padding: 2rem 0 0;
    }
    .astro-intro, .compatibility-intro {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .astro-signs-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        gap: 1rem 0.5rem;
    }
    .astro-sign {
        width: 40px;
    }
    .astro-icon {
        width: 40px;
        height: 40px;
    }
    .astro-label {
        font-size: 0.5rem;
        font-weight: 700;
    }
    .compatibility-grid {
        flex-direction: column;
        align-items: center;
    }
    .column {
        width: 100%;
        margin-bottom: 2rem;
    }
    .column-1 {
        order: 1;
    }
    .column-2 {
        order: 3;
        margin-bottom: 0;
    }
    .column-3 {
        order: 2;
    }
    .translate-section, .mail-section {
        flex-direction: column;
        padding: 2rem 0 0;
    }
    .mail-section {
    gap: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        padding: 0rem 2rem 2rem 2rem;
    }
    .tool-text {
        font-size: 2.5rem;
    }
    .tool-text-awards1 {
        font-size: 2.5rem;
    }
    .tool-text-awards2 {
        font-size: 1rem;
    }
}
